<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css" />
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div style="text-align: center">
        <h1>안녕하세요 </br> 불사조몰 사이트입니다🌠</h1>
        <a href='home/member'>이용자 전체조회</a> </br>
        <a href="home/product">상품 전체조회</a>
    </div>
</body>
</html>