<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      src = "https://code.jquery.com/jquery-3.6.3.js";
      integrity = "sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=";
      crossorigin = "anonymous";
    </script>
    <title>Document</title>
  </head>
  <body>
    <button id="testBtn" type="button">테스트 버튼</button>
    <script>
      const testBtn = document.querySelector("#testBtn");
      testBtn.addEventListener("click", testApi);
      function testApi() {
        $.ajax({
          url: "/api/ajaxTest/test",
          type: "GET",
          data: {},
          success: function (response) {
            console.log(response.message);
          },
          error: function (response) {
            console.error(error);
          },
        });
      }
    </script>
  </body>
</html> -->
