<h2 id="h2ItemName">
    상품 이름
</h2>
    
<table border = "1">
    <thead>
        
    </thead>

    <tbody id="itemDetail">            
        <tr>
            <td>
                상품 사진
            </td>
            <td>
                
            </td>
        </tr>
    </tbody>
    
</table>

<div id="divForButton">

</div>

<script>    


    $(document).ready(function(){

        const itemId = "<%= itemId %>";
        const categoryArray = ["식음료", "생활용품", "전자기기", "의류"];
        document.getElementById("itemDetail").innerHTML = "";

        $.ajax({
            type: "GET",
            url: `/api/item/` + itemId,
            success: function (response){
                console.log(response);
                let row = response;
                let tempHtml = `
                    <tr>
                        <td>
                            상품 사진
                        </td>
                        <td>
                            <img src="${row.itemImg}"
                        </td>
                    </tr>
                    <tr>
                        <td>
                            상품 설명
                        </td>
                        <td>
                            ${row.itemDesc}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            상품 가격
                        </td>
                        <td>
                            ${row.itemPrice}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            상품 종류
                        </td>
                        <td>
                            ${categoryArray[row.itemCategory]}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            상품 등록일
                        </td>
                        <td>
                            ${row.itemCreatedAt}
                        </td>
                    </tr>
                `;

                $('#itemDetail').append(tempHtml);
                document.getElementById("h2ItemName").innerHTML = row.itemName; 

                tempHtml = `
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="text" id="inputQuantity" placeholder="주문 수량" aria-label="주문 수량" aria-describedby="basic-addon1" style="display: inline; width: 100px;">
                    <button onclick="createAnItemInCart(${row.itemId})" class="statusButton" style="display: inline;"> 장바구니에 담기 </button>
                `;

                $('#divForButton').append(tempHtml);                
            }
        });
    });

    function createAnItemInCart(itemId){
        const quantity = $('#inputQuantity').val();
        console.log(quantity);

        if(quantity.length == 0 || quantity == 0){
            alert("1개 이상 담을 수 있습니다");
            return;
        }else if(Number.isNaN(parseInt(quantity))){
            alert("숫자만 입력해 주세요");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/api/myPage/cart/item/" + itemId,
            data:{
                quantity: quantity
            },
            success: function (response) {
                console.log(response.msg);
            }
        })
    }
</script>