<div>
    <button onclick="location.href='/api/myPage'">
        마이페이지
    </button>
    <button onclick = "location.href='/api/myPage/cart'">
        장바구니
    </button>
</div>
<br>

<div>
    <button onclick = "location.href='/api/item'">
        전체 상품 조회 ( 새로고침 )
    </button>
    <button onclick = "location.href=''">
        -
    </button>
</div>
<br>

<div>    
    <% if(list == 0){ %>
        <%- include("itemMainAllItems.ejs") %>    
    <% } else { %>
        <%- include("itemMainAnItem.ejs") %>
    <% } %>
    
</div>

<div class="modal" tabindex="-1" id="modalItemPage">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">회원 정보</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalItemPageText">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer" id="modalFooter">
            <button type="button" class="btn btn-primary" onclick="destroyUser()" style="background-color: red;">회원탈퇴</button>  <span style="visibility: hidden;"> 꼼수꼼수꼼수꼼수꼼수꼼수꼼숚</span>
            <button type="button" class="btn btn-primary" onclick="updateUserInfo()">수정</button>  
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>

          
        </div>
      </div>
    </div>
  </div>

  <!-- <script defer type="text/javascript" src=""></script> -->


