<div>
    <button onclick = "printCreateAnItemModal()">
        상품 등록
    </button>
</div>
<br>

<div>
    <button onclick = "location.href='/api/myPage/'">
        등록 상품 조회
    </button>
    <button onclick = "location.href='/api/myPage/owner/progress'">
        주문된 상품 조회
    </button>
</div>
<br>

<div>

    <% if (list == 0) { %>
        <%- include("myPageOwnerMainAdded.ejs") %>
    <% } else if (list == 1) { %>
        <%- include("myPageOwnerMainProgress.ejs") %>
    <% } %>

</div>


<div class="modal" tabindex="-1" id="modalAddItem">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">상품 등록</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalAddItemText">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer" id="modalFooter">
            <button type="button" class="btn btn-primary" onclick="createAnItem()">등록</button>  
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>  
          
        </div>
      </div>
    </div>
  </div>

  <script defer type="text/javascript" src="./js/myPageOwnerHeader.js"></script>