<h2>
    결제내역
</h2>
<table border = "1">
    <thead>
        <th>
            주문 번호
        </th>
        <th>
            주문 이름
        </th>
        <th>
            결제금액
        </th>
        <th>
            결제일
        </th>
    </thead>

    <tbody id="paidList">            
        <tr>
            <td>
                td1
            </td>
            <td>
                td2
            </td>
            <td>
                td3
            </td>
            <td>
                td4
            </td>
        </tr>
    </tbody>
    
</table>


<script defer type="text/javascript" src="./js/myPageUserMainPaid.js"></script>