<h2>
    배송해야할 상품 내역
</h2>
<table border = "1">
    <thead>
        <th>
            주문 번호 &nbsp;
        </th>
        <th>
            상품 등록 번호 &nbsp;
        </th>
        <th>
            상품 이름 &nbsp;
        </th>
        <th>
            상품 수량 &nbsp; 
        </th>
        <th>
            배송지 주소 &nbsp;
        </th>
        <th>
            요청 사항 &nbsp;
        </th>
        <th>
            주문 상태 &nbsp;
        </th>
        <th>
            주문일 
        </th>
    </thead>

    <tbody id="orderedList" class="contentsList">            
        <tr>
            <td>
                td1
            </td>
            <td>
                td2
            </td>
            <td>
                td3
            </td>
            <td>
                td4
            </td>
        </tr>
    </tbody>
    
</table>

<div class="modal" tabindex="-1" id="modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">주문건 상품 확인</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalText">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer" id="modalFooter">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>  
          
        </div>
      </div>
    </div>
  </div>

  <script defer type="text/javascript" src="./js/myPageOwnerMainProgress.js"></script>