<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css" />       
        
        
        
        <style>
            .statusButton{
                padding: 2px;
                font-size: 15px;
            };

            
            table > tbody > tr:hover {
                /* 지우지마세용     지우면 아래 스타일 안먹음.. ㅠㅜ*/ 
            }

            table > .contentsList > tr:hover {
                background-color: rgb(164, 200, 223);
                cursor: pointer;
            }

            table > tbody > tr > .quantityTd:hover {
                /* background-color: rgb(164, 200, 223);
                cursor: pointer; */
            }
        </style>
    </head>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <script>
        // alert("뜨나");
    </script>
    <title>

    </title>

    <body>
        
        <header>

        </header>

        
        <main>
            <% if (admin == 0){ %>
                <%- include ("myPageUserHeader.ejs") %>
            <% } else if (admin == 1) { %>
                <%- include ("myPageOwnerHeader") %>
            <% } %>
            
        </main>
        <footer>
            
        </footer>
    </body>

</html>