<h2>
    등록 상품 내역
</h2>
<table border = "1">
    <thead>
        <th>
            등록 번호 &nbsp;
        </th>
        <th>
            상품 사진 &nbsp;
        </th>
        <th>
            상품 이름 &nbsp;
        </th>
        <th>
            상품 설명 &nbsp;
        </th>
        <th>
            상품 가격 &nbsp;
        </th>
        <th>
            등록일
        </th>
    </thead>

    <tbody id="addedList" class="contentsList">            
        <tr>
            <td>
                td1
            </td>
            <td>
                td2
            </td>
            <td>
                td3
            </td>
            <td>
                td4
            </td>
            <td>
                td5
            </td>
            <td>
                td6
            </td>
        </tr>
    </tbody>
    
</table>

<div class="modal" tabindex="-1" id="modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">상품 확인</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalText">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer" id="modalFooter">
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>   -->
          
        </div>
      </div>
    </div>
  </div>

<script>
    $(document).ready(function(){
        document.getElementById("addedList").innerHTML = "";

        $.ajax({
            type: "GET",
            url: "/api/myPage/owner/items",
            success: function (response){
                let rows = response;
                let tempHtml = ``;

                for(let i = 0; i< rows.length; i++){
                    tempHtml += `
                        <tr onclick ="printAnItem(${rows[i].itemId})">
                            <td>
                                ${rows[i].itemId} &nbsp;
                            </td>
                            <td>
                                <img src = "${rows[i].itemImg}"> &nbsp;
                            </td>
                            <td>
                                ${rows[i].itemName} &nbsp;
                            </td>
                            <td>
                                ${rows[i].itemDesc} &nbsp;
                            </td>
                            <td>
                                ${rows[i].itemPrice} &nbsp;
                            </td>
                            <td>
                                ${rows[i].itemCreatedAt}
                            </td>
                        </tr>
                    `;
                }

                $('#addedList').append(tempHtml);
            }
        });
    });

    function printAnItem(itemId){
        $("#modal").modal("show");

        $.ajax({
            type: "GET",
            url: "/api/myPage/owner/item/" + itemId,
            success: function(response){
                document.getElementById("modalText").innerHTML = "";
                document.getElementById("modalFooter").innerHTML = "";
                let row = response;
                let tempHtml = `<table>
                            <tr>
                                <td>
                                    등록번호 &nbsp;
                                </td>
                                <td>
                                    ${row.itemId}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    상품사진 &nbsp;
                                </td>
                                <td>
                                    <img src="${row.itemImg}">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    상품이름 &nbsp;
                                </td>
                                <td>
                                    ${row.itemName}
                                </td>
                            </tr>
                            <tr>
                                <td> 
                                    상품설명 &nbsp;
                                </td>
                                <td>
                                    ${row.itemDesc}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    상품가격 &nbsp;
                                </td>
                                <td>
                                    ${row.itemPrice}
                                </td>                                        
                            </tr>
                            <tr>
                                <td>
                                    등록일 &nbsp;
                                </td>
                                <td>
                                    ${row.itemUpdatedAt}
                                </td>
                            </tr>
                            </table>
                `;

                let tempHtml2 = `
                    <button type="button" class="btn btn-primary" style="background-color: red;" onclick="destroyAnItem(${row.itemId})" data-bs-dismiss="modal">삭제</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>           
                `;

                $('#modalText').append(tempHtml);
                $('#modalFooter').append(tempHtml2);
            }
        });
    }

    function destroyAnItem(itemId){
        $.ajax({
            type: "delete",
            url: "/api/myPage/owner/item/" + itemId,
            success: function(response){
                alert(response.msg);
            }
        })

        location.reload();
    }
</script>