<h2>
    등록 상품 내역
</h2>
<table border = "1">
    <thead>
        <th>
            등록 번호 &nbsp;
        </th>
        <th>
            상품 사진 &nbsp;
        </th>
        <th>
            상품 이름 &nbsp;
        </th>
        <th>
            상품 설명 &nbsp;
        </th>
        <th>
            상품 가격 &nbsp;
        </th>
        <th>
            등록일
        </th>
    </thead>

    <tbody id="addedList" class="contentsList">            
        <tr>
            <td>
                td1
            </td>
            <td>
                td2
            </td>
            <td>
                td3
            </td>
            <td>
                td4
            </td>
            <td>
                td5
            </td>
            <td>
                td6
            </td>
        </tr>
    </tbody>
    
</table>

<div class="modal" tabindex="-1" id="modal">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">상품 확인</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalText">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer" id="modalFooter">
            <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>   -->
          
        </div>
      </div>
    </div>
  </div>

  <script defer type="text/javascript" src="./js/myPageOwnerMainAdded.js"></script>