<h2>
    장바구니 담은 상품
</h2>
<table border = "1">
    <thead>
        <th>
            상품 사진 &nbsp;
        </th>
        <th>
            상품 이름 &nbsp;
        </th>
        <th>
            상품 가격 &nbsp;
        </th>
        <th>
            구매 수량 &nbsp; 
        </th>
        <th>
              
        </th>
        <th>

        </th>
    </thead>

    <tbody id="cartList">            
        <tr>
            <td>
                td1
            </td>
            <td>
                td2
            </td>
            <td>
                td3
            </td>
            <td>
                td4
            </td>
        </tr>
    </tbody>
    
</table>

<div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button onclick = "createAnOrder()" >
         장바구니 전체 주문하기
    </button>
</div>

<script defer type="text/javascript" src="./js/myPageUserCart.js"></script>