<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link href="../../static/css/item_add.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>

<body>
    <header>
        <h1>용감한 불사조</h1>
        <h3>
            <hr class="line">
        </h3>
    </header>

    <nav>
    </nav>
    <div id="body_item" class="sj_1">
        <!-- <div id="item" class="sj_2">
            <img src="https://cdn.ftoday.co.kr/news/photo/201510/44298_46389_2338.jpg" width="225">
            <div class="sj_3">
                <div class="item">
                    <div class="item_title">
                        <h3>상품 1</h3>
                        <span>10000</span>
                        <span>desc</span>
                        <span>marketer</span>
                    </div>
                </div>
            </div>
        </div>

        <div id="item" class="sj_2">
            <img src="https://cdn.ftoday.co.kr/news/photo/201510/44298_46389_2338.jpg" width="225">
            <div class="sj_3">
                <div class="item">
                    <div class="item2">
                        <h3>상품 2</h3>
                        <span>10000</span>
                        <span>desc</span>
                        <span>marketer</span>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <script>

        // 전체 조회
        function all_item() {
            $.ajax({
                type: "GET",
                url: "/items",
                data: {},
                success: function (response) {
                    let rows = response["item"];

                    for (let i = 0; i < rows.length; i++) {
                        let itemname = rows[i]['itemName'];
                        let itemcategory = rows[i]['itemCategory'];
                        let itemimg = rows[i]['itemImg'];
                        let itemdesc = rows[i]['itemDesc'];
                        let itemprice = rows[i]['itemPrice'];
                        let marketer = rows[i]['marketer'];
                        let createdAt = rows[i]['itemCreatedAt'];
                        let updatedAt = rows[i]['itemUpdatedAt'];

                        let tempHtml = `
                        `
                        $('#body_item').append(tempHtml);
                    }
                }
            })
        }
    </script>
</body>

</html>